.banner {
  /* height: 500px; */
  width: 70%;
  margin-top: 4rem;
}

.home-main-div {
  width: 70% !important;
  margin: 9rem 0px 4rem;
  font-size: 1.2rem;
}

.icon-card {
  justify-content: center;
  text-align: center;
  color: #808080;
  padding: 0px 4.5rem;
}

.submitButton {
  background-color: #b92941;
  border-radius: 12px;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 0.9rem;
  font-weight: 700;
  color: aliceblue;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
  cursor: pointer;
}

.subscribe-div {
  width: 30% !important;
}

@media screen and (max-width: 955px) {
  .banner {
    width: 100%;
  }

  .home-main-div {
    width: 100% !important;
  }

  .subscribe-div {
    width: 100% !important;
  }
  .icon-card {
    font-size: 13px;
  }
}
