.input-error {
  border-color: red;
}

.interestButton {
  color: #b92941 !important;
  background: #0f0c1f !important;
  margin: 10px 0px !important;
  font-weight: 800 !important;
}

.activeButton {
  color: #0f0c1f !important;
  background: #b92941 !important;
  margin: 10px 0px !important;
  font-weight: 800 !important;
}

.smallMultiline {
  width: 40ch !important;
}

.largeMultiline {
  width: 80ch !important;
}

@media screen and (max-width: 955px) {
  .buttonsDiv {
    display: flex;
    overflow: scroll;
  }
  .smallMultiline {
    width: 25ch !important;
  }
  .largeMultiline {
    width: 25ch !important;
  }
}
