.heading{
    background-color: #FF9E2C;
    margin: 0 2rem 2rem 2rem;
    border-radius: 15px 20px;
    padding: 0.02px 1rem;
}
.event{
    padding-top: 6rem;
}
.heading-one{
    
    font-size: 1.3rem;
}


.img-future{
    width: 100%;
    border-radius: 10px 10px 0 0 ;
    
}
.gridd{
    width: 80%;
    margin: 0 auto;
}
.gridd-one{
    margin-left: 4rem;
    margin-bottom: 2rem;
}
.modal-overlay{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 1000;
}
.modal-ui{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    z-index: 1000;
}
.modal-img{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.modal-heading{
    text-align: center;
    font-size: 2vw;
}
.modal-para{
    font-size: 1.1vw;
}
.icon-modal{ position: absolute;
    top: 0;
    right: 1.5%;
    font-size: 1.2rem;
}
.icon-modal:hover{
    transform: scale(1.2);
    cursor: pointer;
}
@media screen and (max-width: 1100px){
    .modal-heading{
        text-align: center;
        font-size: 3vw;
    }
    .modal-para{
        font-size:1.4vw;
        text-align: center;
        margin: 0.2rem 1rem;
    }
    .modal-img{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
@media screen and (max-width:600px){
    .modal-heading{
        text-align: center;
        font-size: 3vw;
    }
    .modal-para{
        font-size:2.5vw;
        text-align: center;
        margin: 0.2rem 1rem;
    }
    .modal-img{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}