
.navbar {
  background-color: #1a1145;
  margin: 0;
  top:0;
  height: 4rem;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 50;
}

.vlogo {
  max-width: 100%;
  border-radius: 50%;
  height: 100%;
  margin-left: 75%;
}
.v-logo-div {
  flex: 25%;
  align-items: center;
}
.list {
  display: flex;
  color: aliceblue;
  font-size: 0.95rem;
  color: #585375;
  flex: 75%;
  padding-left: 20%;
}

.list-item {
  margin-left: 2%;
  text-decoration: none;
}
.list-item:hover {
  color: aliceblue;
  cursor: pointer;
}
.register {
  background-color: #b92941;
  margin-right: 2rem;

  border-radius: 12px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
  font-weight: 700;
  color: aliceblue;
  margin-bottom: 0.8rem;
  margin-top: 0.7rem;
  cursor: pointer;
  box-shadow: 2px 4px #ee9595;
}
.icon-div {
  flex: 33%;
  display: none;
}
.icon-div:hover {
  color: cornsilk;
}

.icon {
  color: #585375;
  display: none;
  font-size: 2.5rem;
  margin-left: 45%;
  margin-top: 0.7rem;

}

.register-text {
  margin-top: 15%;
}
.button {
  background-color: #b92941;
  box-shadow: 2px 4px #ee9595;
  border-radius: 12px;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 0.9rem;
  font-weight: 700;
  color: aliceblue;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
  cursor: pointer;
  display: none;
}
.register:hover {
  background-color: #a9294f;
}
@media screen and (max-width: 750px) {
  .list {
    display: none;
  }
  .list-active {
    display: flex;
    color: #585375;
    font-size: 0.95rem;
    text-align: center;
    z-index: 10;
    background-color: #1a1145;
    width: 100%;
    margin-top: 4rem;
    flex-direction: column;
    position: absolute;
  }
  .vlogo {
    margin-left: 5%;
    flex: 33%;
  }
  .icon-div {
    display: inline;
  }
  .icon {
    display: inline;
  }

  .button {
    display: inline;
  }
  .register {
    display: none;
  }
}
.modal-overlay{
  position: fixed;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  z-index: 1000;
}
.modal-ui{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: linear-gradient(#e66465, #9198e5);
  z-index: 1000;
}
.modal-img-navbar{
  margin-top: 2rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;

}
.modal-heading{
  text-align: center;
  font-size: 2vw;
  color: azure;

}
.modal-para{
  font-size: 1.1vw;
}
.icon-modal{ position: absolute;
  top: 0;
  right: 1.5%;
  font-size: 1.2rem;
}
.icon-modal:hover{
  transform: scale(1.2);
  cursor: pointer;
}
@media screen and (max-width: 1100px){
  .modal-heading{
      text-align: center;
      font-size: 3vw;
  }
  .modal-para{
      font-size:1.4vw;
      text-align: center;
      margin: 0.2rem 1rem;
  }
  .modal-img{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
  }
}
@media screen and (max-width:600px){
  .modal-heading{
      text-align: center;
      font-size: 3vw;
  }
  .modal-para{
      font-size:2.5vw;
      text-align: center;
      margin: 0.2rem 1rem;
  }
  .modal-img{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
  }
  .icons{
      width: 15%;
  }
  .para-icon{
      font-size: 3.5vw;
  }
}
.img-future{
  width:100%;
  
 border-radius: 10px;
/*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
   
}