.footer {
  margin-top: 50px;
  color: white;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background: black;
  height: auto;
}

.small-link {
  margin: 5px;
  font-size: 13px;
}

.copyright {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: grey;
  font-size: 11px;
}

hr {
  width: 50%;
  border-color: grey;
}
