.panel {
  color: white;
  /* position: absolute; */
  right: 0;
  top: 50%;
  position: fixed;
  background: #b92941;
  width: 49px;
  border-radius: 10px 1px 1px 10px;
  height: 272px;
  z-index: 10;
}

.icons {
  padding: 10px;
}
